.newPostForm{
    border: solid black;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;   
  }

.newPostForm:hover{
    background-color: rgb(187, 184, 177);
    transition-property: background-color;
    transition-duration: 1.5s;
}

.parentPostForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.textspot:hover{
    background-color: wheat;
    transition-property: background-color;
    transition-duration: 1.5s;
}

.submit:hover{
    background-color: darkorange;
    transition-property: background-color;
    transition-duration: 1.5s;
}

.submit{
    border-radius: 5px;
}
