.buttons {
  display: flex;
  margin-left: 10px;
  margin-bottom: 3px;
}

.comment {
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 3px;
  box-shadow: 2px 2px 4px 1px;
}

.comment__header {
  margin: 2px 0px 2px 2px;
  font-style: italic;
}

.comment__body {
  margin: 0;
  margin-left: 10px;
}

.delete__button,
.edit__button {
  border-radius: 30px;
}

.edit__button:hover {
  background-color: rgb(175, 255, 211);
}

.delete__button:hover {
  background-color: rgb(220, 0, 0);
}
