@media (max-width: 768px) {
    .formItself {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    }

    label {
        display: none;
    }
}

.parentForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.formItself{
    border: solid 3px rgba(180, 180, 180);
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    font-size: 1.5rem;
    box-shadow: brown 0px 4px 3px 2px;
}

.formFill{
    display: flex;
    flex-direction: row;
}

.form__input {
    float: right;
    font-size: 1.5rem;
}

.form__field {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.form__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-top: 0.5rem;
}

.form__button {
    font-size:1.5rem;
    background-color: #0095F6;
    color: white;
    margin-right: 0.5rem;
}