.splash__blurb {
  align-self: center;
}

.screenshot {
  /* width: 50%; */
  width: 400px;
}

.screenshot__container {
  padding: 0.25rem;
  border: solid 3px rgba(180, 180, 180);
  border-radius: 15px;
  box-shadow: #0099ff70 0px 4px 3px 2px;
  margin-bottom: 20px;
}

.splash__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 60%;
  align-self: center;
  /* margin-top: 20px;
  margin-bottom: 40px; */
  margin: 2.5rem;
}

.login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  box-shadow: brown 0px 4px 3px 2px;
  border: solid 3px rgba(180, 180, 180);
  border-radius: 15px;
  padding: 1.5rem;
}

.login__header {
  margin: 0;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.25rem;
  margin: 0.5rem 0rem;
}

.signup {
  box-shadow: brown 0px 4px 3px 2px;
  border: solid 3px rgba(180, 180, 180);
  border-radius: 15px;
  padding: 2rem;
  margin-top: 10px;
  text-align: center;
}

.authentication__container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.login__button {
  width: 100%;
  background-color: #0099ff;
  color: white;
  text-align: center;
  display: block;
  box-sizing: border-box;
  padding: 0.25rem 0rem;
}

.login__button-disabled {
  background-color: #90d0fb;
}

.divider__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1rem 0rem;
}

.divider__text {
  width: fit-content;
}

.divider {
  height: 2px;
  width: 8rem;
  background-color: rgba(180, 180, 180);
  margin: 0.5rem;
}
